@use '../../styles/base.scss' as base;
@use '../../styles/style.scss';

.card {
  margin-bottom: base.$space;
  border-radius: base.$bigRadius;
  overflow: hidden;
  user-select: none;
  background-color: base.$themeColor;
  color: base.$textColor;
  padding: base.$space;
  @extend .trans;
}

.active:hover {
  transform: scale(1.04);
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media screen and (max-width: 1240px) {
  .card {
    margin-bottom: 10rem;
    border-radius: 18rem;
    padding: 10rem;
  }
}