@use '../../../../styles/style.scss' as style;
@use '../../../../styles/base.scss' as base;

.searchBox {
  display: flex;
  margin-bottom: base.$space;
  gap: base.$space;

  .inputGroup {
    display: flex;
    flex: 1;
    gap: base.$space;
  }

  .search {
    height: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    flex: 1;
    text-align: center;
    padding: 0 base.$space;
    color: base.$textColor;
    appearance: none;
    cursor: pointer;

    &:not(:first-child) {
      flex: 0.5;
    }

  }

  .antd-input {
    height: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    padding: 0 base.$space;
    flex: 1;
    color: base.$textColor;
    border: none;

    &::placeholder {
      color: base.$textColor;
    }

    &:not(:first-child) {
      flex: 0.5;
    }
  }

  .antd-select {
    height: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    flex: 1;
    border: none !important;

    :global {
      .ant-select-selector {
        padding: 0 20px;
        background-color: transparent;
        color: base.$textColor;
        border: none !important;
        box-shadow: none !important;

        .ant-select-selection-placeholder {
          color: base.$textColor
        }
      }

    }

    &:not(:first-child) {
      flex: 0.5;
    }
  }


  .btnBox {
    display: flex;
    gap: base.$space;
  }

  .searchBtn {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    @extend .hover;
  }
}

@media screen and (max-width: 1240px) {
  .searchBox {
    margin-bottom: 10rem;
    flex-direction: column;

    .inputGroup {
      flex-direction: column;
    }

    .antd-input {
      font-size: 15px;
      border-radius: 10rem;
      padding: 4px 10px;

      &:not(:first-child) {
        flex: 1;
      }
    }

    .antd-select {
      height: 40rem;
      border-radius: 10rem;

      :global {
        .ant-select-selector {
          padding: 0 10px;
        }
      }

      &:not(:first-child) {
        flex: 1;
      }
    }

    .btnBox {
      justify-content: flex-end;
    }

    .searchBtn {
      height: 40rem;
      width: 40rem;
      border-radius: 10rem;
    }
  }
}