@use '../../../../styles/style.scss' as style;
@use '../../../../styles/base.scss' as base;

.searchBox {
  display: flex;
  margin-bottom: base.$space;
  gap: base.$space;

  .inputGroup {
    display: flex;
    flex: 1;
    gap: base.$space;
  }

  .search {
    height: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    flex: 1;
    text-align: center;
    padding: 0 base.$space;
    color: base.$textColor;

    &:not(:first-child) {
      flex: 0.5; // 让tag和category输入框更窄
    }
  }

  .btnBox {
    display: flex;
    gap: base.$space;
  }

  .searchBtn {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    background-color: base.$themeColor1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    @extend .hover;
  }
}

@media screen and (max-width: 1240px) {
  .searchBox {
    margin-bottom: 10rem;
    flex-direction: column;

    .inputGroup {
      flex-direction: column;
    }

    .search {
      height: 40rem;
      border-radius: 10rem;
      font-size: 18rem;
      padding: 4rem 10rem;

      &:not(:first-child) {
        flex: 1;
      }
    }

    .btnBox {
      justify-content: flex-end
    }

    .searchBtn {
      height: 40rem;
      width: 40rem;
      border-radius: 10rem;
    }
  }
}